@page
@model ControlDeGastos.Pages_Presupuesto.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PresupuestoModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PresupuestoModel.mes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PresupuestoModel.mes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PresupuestoModel.anio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PresupuestoModel.anio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PresupuestoModel.monto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PresupuestoModel.monto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PresupuestoModel.TipoGasto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PresupuestoModel.TipoGasto.nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PresupuestoModel.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PresupuestoModel.Usuario.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PresupuestoModel.rowid">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
